@inject TestingGroup Group
@if (Group.CurrentGuesses.Count > 0)
{
    <div class="m-2">
        <h4>Последние результаты эксперимента</h4>
        @for (int i = 0; i < Group.CurrentGuesses.Count; i++)
        {
            <div>
                @Group.Psyphics[i].Name предоставил догадку <b>@Group.CurrentGuesses[i]</b> и был <b>@string.Format(Group.LastSecretNumber == Group.CurrentGuesses[i] ? "прав. Достоверность повышена" : "НЕ прав. Достоверность понижена.")</b>
            </div>
        }
    </div>
}